<div class="affiliations">
    <h5>Affiliations & Internships</h5>

    <table align="center">
        <tbody>
        <tr>
            <td align="center">
                <a href="https://www.iitg.ac.in/" target="_blank">
                <img style="width:125px" src="/assets/img/iitg_logo-new.png"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://www.deshawindia.com/" target="_blank">
                <img style="width:160px" src="/assets/img/shaw_logo-new.png"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://www.amazon.science/research-areas/automated-reasoning" target="_blank">
                <img style="width:160px" src="/assets/img/amazon_science_logo.png"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://cs.illinois.edu/" target="_blank">
                <img style="width:145px" src="/assets/img/uiuc_logo.png"></a>&nbsp; &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px;"><font size="2">IIT Guwahati<br>2016-2020<br>B. Tech Computer Science</font></td>
            <td align="center" style="padding: 10px;"><font size="2">D. E. Shaw & Co.<br>2019 & 2020-2022<br>SDE Intern & SDE-2 (Trading Systems)</font></td>
            <td align="center" style="padding: 10px;"><font size="2">Amazon Science<br>Summer 2023<br>Applied Science Intern<br>Automated Reasoning @ AWS</font></td>
            <td align="center" style="padding: 10px;"><font size="2">UIUC<br>2022-Present<br>MS & PhD Computer Science</font></td>
        </tr>
        </tbody>
    </table>
  </div>
