<p class="post-title section-title">Awards & Fellowships</p>

{%- assign awards = site.awards | reverse -%}

<ul class="list-group">
    <li class="list-group-item">
        <ul class="list-unstyled mb-0">
            {% for award in awards %}
            <li style="display: flex; align-items: center; justify-content: space-between;">
                <span class="award-title">{{ award.title }}
                {% if award.link %}
                <span class="award-links">
                <a href="{{ award.link }}" target="_blank">
                    (More)
                </a>      
                </span>

                {% endif %}
            </span> 
                <span style="display: flex; align-items: center; gap: 12px; white-space: nowrap;">
                    <span style="font-size: 0.91rem;">{{ award.year }}</span>
                </span>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>