<div class="news">
  <p class="section-title-mid">News</p>
  {% if site.data.news != blank -%}
  <div class="news-scroll-wrapper">
  <div class="table-responsive"
       style="overflow-y: auto;
              overflow-x: hidden;
              max-height: 210px;">

    <table class="table table-sm table-borderless"
           style="width: 100%;
                  line-height: 1.4rem;
                  table-layout: fixed;">

      {%- assign news = site.data.news -%}
      {% for item in news %}
      <tr style="margin: 0; padding: 0;">
        <th scope="row"
            style="width: 7rem;
                   white-space: nowrap;
                   text-align: left;
                   padding: 3px 28px 9px 0;
                   font-weight: 500;
                   font-size: 0.95rem;
                   color: var(--global-text-color);
                   vertical-align: top;">
          {{ item.date | date: "%b %d, %Y" }}
        </th>
        <td style="white-space: normal;
                   word-wrap: break-word;
                   padding: 3px 0 9px 0;
                   vertical-align: top;">
          {% if item.inline -%}
            {{ item.content | markdownify | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
            <a class="news-title" href="{{ item.url | relative_url }}">
              {{ item.title }}
            </a>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </table>

  </div>
  </div>
  {%- else -%}
  <p>No news so far...</p>
  {%- endif %}
</div>
