          
          <div class="news">
            <p class="section-title-mid">News</p>
            {% if site.news != blank -%} 
            <div class="table-responsive" style="overflow-y: scroll; max-height: 180px; border: 1.5px solid #0e0c0c; border-radius: 5px; padding: 5px;">
              <table class="table table-sm table-borderless" style="width:max-content;line-height:5px;font-size:11px">
              {%- assign news = site.news | reverse -%} 
              {% for item in news %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
