<ul class="list-group">
    {%- assign publications = site.publications | reverse | where: "type", include.type -%}
    {% for publication in publications %}
    {% assign abstract_id = "abstract-" | append: forloop.index0 | append: "-" | append: publication.title | slugify %}
    {% assign bibtex_id = "bibtex-" | append: forloop.index0 | append: "-" | append: publication.title | slugify %}
    
    <li class="list-group-item">
        <span class="title paper-title">
            {{ publication.title }}
        </span><br>
        <span class="authors">
            {{ publication.authors }}
        </span><br>
        {% if publication.venue %}
            <span class="venue">
                {{ publication.venue | join: " • " }}
            </span><br>
        {% endif %}
        {% if publication.award %}
            <span>
                <span style="font-size: 1rem; font-weight: 550; color: #ec5b07">{{ publication.award }}</span>
                <span style="font-size: 1rem; color: #f8d775;">🏆</span>
            </span><br>
        {% endif %}

        <!-- Button Section -->
        <div>
            <div class="paper-links">
                {% assign links = "" %}
              
                {% if publication.abstract %}
                  {% assign links = links | append: '<a href="#" data-bs-toggle="collapse" data-bs-target="#' | append: abstract_id | append: '" aria-expanded="false" aria-controls="' | append: abstract_id | append: '">Abstract</a>' %}
                {% endif %}
              
                {% for link in publication.links %}
                  {% assign link_url = link.url %}
                  {% if link_url contains "https" %}
                    {% assign final_url = link_url %}
                  {% else %}
                    {% assign final_url = "/assets/pdf/papers_posters/" | append: link_url %}
                  {% endif %}
                  {% assign link_html = '<a href="' | append: final_url | append: '" target="_blank">' | append: link.name | append: '</a>' %}
                  {% if links != "" %}
                    {% assign links = links | append: ' | ' %}
                  {% endif %}
                  {% assign links = links | append: link_html %}
                {% endfor %}
              
                {% if publication.bibtex %}
                  {% if links != "" %}
                    {% assign links = links | append: ' | ' %}
                  {% endif %}
                  {% assign links = links | append: '<a class="paper-links" href="#" data-bs-toggle="collapse" data-bs-target="#' | append: bibtex_id | append: '" aria-expanded="false" aria-controls="' | append: bibtex_id | append: '">BibTeX</a>' %}
                {% endif %}
              
                {{ links | raw }}
            </div>
          
            <!-- Collapsible Abstract -->
            {% if publication.abstract %}
            <div class="collapse mt-2" id="{{ abstract_id }}">
              <p class="abstract-text"> {{ publication.abstract }} </p>
            </div>
            {% endif %}
          
            <!-- Collapsible BibTeX -->
            {% if publication.bibtex %}
            <div class="collapse mt-2" id="{{ bibtex_id }}">
              <p class="bibtex-text"> {{ publication.bibtex | newline_to_br }} </p>
            </div>
            {% endif %}
          </div>
    </li>
    {% endfor %}
</ul>
