<p class="post-title section-title">Academic Service</p>


{%- assign grouped_services = site.data.services | group_by: "type" | sort: "name" -%}

<ul class="list-group">
    <li class="list-group-item">
        <ul class="list-unstyled mb-0">
            {% for group in grouped_services %}
            <li>
                <span class="award-title">{{ group.name }}:</span>
                {% assign sorted_items = group.items | sort: "date" | reverse %}
                <span class="award-links">
                    {% for item in sorted_items %}
                    {% if item.link %}
                        <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                    {% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </span>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>


