<div>
    <table align="center">
        <tbody>
            <tr>
                <td align="center"><a href="mailto:sgomber2@illinois.edu">E-mail</a></td>
                <td align="center">~</a></td>
                <td align="center"><a href="https://github.com/{{ site.github_username }}">Github</a></td>
                <td align="center">~</a></td>
                <td align="center"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></td>
                <td align="center">~</a></td>
                <td align="center"><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></td>
                <!-- <td align="center">|</a></td> -->
            </tr>
        </tbody>
    </table>
</div>