<p class="post-title section-title">Teaching</p>

{%- assign grouped_teaching = site.data.teaching | group_by: "title" -%}

<ul class="list-group">
    <li class="list-group-item">
        <ul class="list-unstyled mb-0">
            {% for group in grouped_teaching %}
                {%- assign sorted_items = group.items | sort: "date" | reverse -%}
                <li style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="award-title">{{ group.name }}</span>
                    <span class="award-links">
                        {% for teach in sorted_items %}
                            {% if teach.link %}
                                <a href="{{ teach.link }}" target="_blank">{{ teach.semester }}</a>
                            {% else %}
                                {{ teach.semester }}
                            {% endif %}
                            {% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>

