---
layout: default
---

<div class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.pg_title }}</h1>
      <p class="post-description">{{ page.description }}</p>
    </header>

    <ul class="list-group">
        {%- assign publications = site.publications | reverse -%} 
        {% for publication in publications %} 

        <li class="list-group-item border-top-0 border-left-0 border-right-0">
            <h5 class="title font-weight-bold special-font special-col">{{publication.title}}</h5>
            <!-- <h6 style="font-size: 0.95rem;">Date: {{ publication.date | date: "%b %-d, %Y" }}</h6> -->
            <p><i>{{ publication.authors }}</i></p>
            <h6 style="font-size : 0.95rem;">{{ publication.venue }}</h6>
            <p> <b>TLDR:</b> {{ publication.tldr }} </p>
            {% if publication.link %}
            <a href="{{ publication.link }}" target="_blank" rel="noopener noreferrer">Paper Link</a>
            {% endif %}
            {% if publication.code %} |
            <a href="{{ publication.code }}" target="_blank" rel="noopener noreferrer">Code</a>
            {% endif %}
            {% if publication.slides %} |
            <a href="{{ publication.slides }}" target="_blank" rel="noopener noreferrer">Slides</a>
            {% endif %}
            {% if publication.poster %} |
            <a href="{{ publication.poster }}" target="_blank" rel="noopener noreferrer">Poster </a>
            {% endif %}
        </li>
      {%- endfor %}
      </ul>

</div>