---
layout: default
---

<div class="post">

    <header class="post-header">
        <h1 class="post-title special-col" style="font-size : 1.7rem;">Preprints</h1>
    </header>
    <br>
    {% include publication-list.html type="preprint" %}
    
    <br>
    <header class="post-header">
        <h1 class="post-title special-col" style="font-size : 1.7rem;">Workshops & Posters</h1>
    </header>
    <br>
    {% include publication-list.html type="workshop" %}

    <br>
    <header class="post-header">
        <h1 class="post-title special-col" style="font-size : 1.7rem;">Theses</h1>
    </header>
    <br>
    {% include publication-list.html type="thesis" %}

</div>
