---
layout: default
---

<div class="post">

    <p class="section-title-mid">
        {{ page.pg_title }}
    </p>

    <ul class="list-group">
        {%- assign talks = site.data.talks -%} 
        {% for talk in talks %} 
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <span class="paper-title">
                    {{ talk.title }}
                </span>
                <br>
                <span class="talk_venue">
                    {{ talk.loc }}
                </span>
            </div>
            <div class="text-right">
                <span style="font-size: 0.9rem;">
                    {{ talk.date | date: "%b %-d, %Y" }}
                </span><br>
                {% if talk.slides %}
                <span>
                    <a class="paper-links" href="{{ talk.slides | prepend: 'assets/pdf/talks/' | relative_url}}">Slides</a>
                </span>
                {% endif %}
            </div>
        </li>
      {%- endfor %}
      </ul>
      <br>
      <br>
      <br>
      <br>
      <br>

</div>