---
layout: default
---

<div class="post">

    <header class="post-header">
      <h1 class="post-title special-col" >{{ page.pg_title }}</h1>
      <p class="post-description">{{ page.description }}</p>
    </header>

    <ul class="list-group">
        {%- assign talks = site.talks | reverse -%} 
        {% for talk in talks %} 
        <li class="list-group-item border-top-0 border-left-0 border-right-0">
            <h5 class="title font-weight-bold special-font">{{talk.title}}
                
            </h5>
            <h6 style="font-size: 0.95rem;">{{talk.loc}}</h6>
            <h6 style="font-size: 0.95rem;">{{ talk.date | date: "%b %-d, %Y" }}</h6>
            {% if talk.slides %}
            <a href="{{ talk.slides | prepend: 'assets/pdf/talks/' | relative_url}}" target="_blank" rel="noopener noreferrer"> Slides </a>
            {% endif %}
        </li>
      {%- endfor %}
      </ul>
      <br>
      <br>
      <br>
      <br>
      <br>

</div>