---
layout: default
---

<div class="post">

    <header class="post-header">
      <h1 class="post-title special-col" >{{ page.pg_title }}</h1>
    </header>
    <br>

    <ul class="list-group">
        {%- assign talks = site.talks | reverse -%} 
        {% for talk in talks %} 
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5 class="title special-font">
                    {{ talk.title }}
                </h5>
                <h6 style="font-size: 1.1rem;">
                    {{ talk.loc }}
                </h6>
            </div>
            <div class="text-right">
                <h6 style="font-size: 1.1rem;">
                    {{ talk.date | date: "%b %-d, %Y" }}
                </h6>
                {% if talk.slides %}
                <a href="{{ talk.slides | prepend: 'assets/pdf/talks/' | relative_url}}" target="_blank" rel="noopener noreferrer">Slides</a>
                {% endif %}
            </div>
        </li>
      {%- endfor %}
      </ul>
      <br>
      <br>
      <br>
      <br>
      <br>

</div>